<!DOCTYPE html>
<html>
<head>
    <title>AutoBrand 識車系統</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile-style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
         <h1>AutoBrand 識車系統</h1>
        <!-- ☰ 漢堡按鈕 -->
        <div class="hamburger" onclick="toggleMenu()">☰</div>
        <nav id="navMenu">
            <ul>
                <li><a href="{{ url_for('index') }}">首頁</a></li>
                <li><a href="{{ url_for('news') }}">最新消息</a></li>
                <li><a href="{{ url_for('about') }}">關於我們</a></li>
                <li><a href="{{ url_for('upload') }}">上傳照片</a></li>
            </ul>
        </nav>
    </header>
   
    <main>
        <div class="slogan-container">
        <div class="slogan-bg">
        <img src="{{ url_for('static', filename='image/car1.jpg') }}" alt="car" class="slogan-img">
        <div id="slogan" class="fade-in">
            <!-- Slogan 將在此處顯示 -->
        </div>
        </div>
        </div>

        <div id="process-container">
            <div class="process-step">
                <p><b>STEP 1</b></p>
                <img src="{{ url_for('static', filename='icons/upload.png') }}" class="step-icon" alt="Upload">
            </div>
            <div class="arrow-icon">
                <img src="{{ url_for('static', filename='icons/right-arrow.png') }}" class="arrow-image" alt="Arrow">
            </div>
            <div class="process-step">
                <p><b>STEP 2</b></p>
                <img src="{{ url_for('static', filename='icons/scan.png') }}" class="step-icon" alt="Scan">
            </div>
            <div class="arrow-icon">
                <img src="{{ url_for('static', filename='icons/right-arrow.png') }}" class="arrow-image" alt="Arrow">
            </div>
            <div class="process-step">
                <p><b>STEP 3</b></p>
                <img src="{{ url_for('static', filename='icons/image.png') }}" class="step-icon" alt="Result">    
        </div>
    </main>
    <footer>
        <p>© 2025 AutoBrand 識車系統</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>